		<!-- Content area -->
        <div class="content">

            <!-- Task manager table -->
            <div class="card">
                <div class="card-header bg-transparent header-elements-inline">
                    <h6 class="card-title">Traitement des Réclamations</h6>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <table class="table tasks-list table-lg">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Period</th>
                            <th>Description</th>
                            <th>Priority</th>
                            <th>Latest update</th>
                            <th>Status</th>
                            <th>Assigned users</th>
                            <th class="text-center text-muted" style="width: 30px;"><i class="icon-checkmark3"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#25</td>
                            <td>Today</td>
                            <td>
                                <div class="font-weight-semibold"><a href="task_manager_detailed.html">New blog layout</a></div>
                                <div class="text-muted">Grumbled ripely eternal sniffed the when hello less much..</div>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="#" class="badge bg-danger dropdown-toggle" data-toggle="dropdown">Blocker</a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item active"><span class="badge badge-mark mr-2 bg-danger border-danger"></span> Blocker</a>
                                        <a href="#" class="dropdown-item"><span class="badge badge-mark mr-2 bg-orange border-orange"></span> High priority</a>
                                        <a href="#" class="dropdown-item"><span class="badge badge-mark mr-2 bg-primary border-primary"></span> Normal priority</a>
                                        <a href="#" class="dropdown-item"><span class="badge badge-mark mr-2 bg-success border-success"></span> Low priority</a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center">
                                    <i class="icon-calendar2 mr-2"></i>
                                    <input type="text" class="form-control datepicker p-0 border-0 bg-transparent" value="22 January, 15">
                                </div>
                            </td>
                            <td>
                                <select name="status" class="form-control form-control-select2" data-placeholder="Select status" data-fouc>
                                    <option value="open">Open</option>
                                    <option value="hold">On hold</option>
                                    <option value="resolved" selected="selected">Resolved</option>
                                    <option value="dublicate">Dublicate</option>
                                    <option value="invalid">Invalid</option>
                                    <option value="wontfix">Wontfix</option>
                                    <option value="closed">Closed</option>
                                </select>
                            </td>
                            <td>
                                <a href="#" class="btn btn-icon bg-transparent btn-sm border-slate-300 text-slate rounded-round border-dashed"><i class="icon-plus22"></i></a>
                            </td>
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="list-icons-item dropdown">
                                        <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown"><i class="icon-menu9"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item"><i class="icon-alarm-add"></i> Check in</a>
                                            <a href="#" class="dropdown-item"><i class="icon-attachment"></i> Attach screenshot</a>
                                            <a href="#" class="dropdown-item"><i class="icon-rotate-ccw2"></i> Reassign</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item"><i class="icon-pencil7"></i> Edit task</a>
                                            <a href="#" class="dropdown-item"><i class="icon-cross2"></i> Remove</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>


                      

                        



                        

                       

                        

                      


                    </tbody>
                </table>
            </div>
            <!-- /task manager table -->

        </div>
        <!-- /content area -->