
<!DOCTYPE html>
<html lang="en">


<body>

	<!-- Main navbar -->
	<app-navbar></app-navbar>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
	<app-sidebar></app-sidebar>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">

			 <router-outlet></router-outlet>
	      </div>
			<!-- /content area -->

			<!-- Footer -->
			<app-footer></app-footer>
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
